[submodule "Libraries/twoway-view"]
	path = Libraries/twoway-view
	url = https://github.com/mrolcsi/twoway-view
[submodule "Libraries/FileBrowser-Android"]
	path = Libraries/FileBrowser-Android
	url = https://github.com/mrolcsi/FileBrowser-Android
