<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="hu.mrolcsi.android.spoc.gallery"
        xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="hu.mrolcsi.android.spoc.SPOCApplication"
        android:allowBackup="true"
        android:icon="@drawable/stack_of_photos"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.SPOC"
        tools:ignore="UnusedAttribute">
        <meta-data
            android:name="hu.mrolcsi.android.spoc.gallery.common.GlideConfiguration"
            android:value="GlideModule" />
        <activity
                android:name=".GalleryActivity"
                android:label="@string/title_activity_gallery">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.CacheBuilderService"
            android:exported="false" />
    </application>

</manifest>
